{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"printWidth": 70,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
